version: 2.1

# Define the jobs we want to run for this project
jobs:
  test:
    docker:
      - image: python
    steps:
      - checkout
      - run: python ./test_calc.py

# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - test
